<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96175566857-7gqj8q16qpn66mb389kc1isb3126p1sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96175566857-7gqj8q16qpn66mb389kc1isb3126p1sl</string>
	<key>API_KEY</key>
	<string>AIzaSyAnPXy0hF7zkbh54CQku8JWZkcgokStxp4</string>
	<key>GCM_SENDER_ID</key>
	<string>96175566857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.distoma.edupay</string>
	<key>PROJECT_ID</key>
	<string>edupay-html</string>
	<key>STORAGE_BUCKET</key>
	<string>edupay-html.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96175566857:ios:1410c7d9f4b11fe1fdc8d8</string>
</dict>
</plist>